IndexIgnore *
Options -Indexes
ErrorDocument 404 /error/404
ErrorDocument 403 /error/403
ErrorDocument 500 /error/500
RewriteEngine On
RewriteBase /subjects/
RewriteRule ^([0-9a-zA-Z\_\-\/]*)$ index.php?subjectName=$1 [NC,L,QSA]